body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.topsubtext{
    position: absolute;
    top: 45%;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}
.topmain{
    position: absolute;
    top: 45%;
    width:100%;
    color: black;
    text-align: center;
    font-size: 70px;
    font-family: open_sans;
    font-style: italic;
    font-weight: 500;
}

.pimg1, .pimg2, .pimg3, .pimg4{
  position:relative;
  opacity:0.80;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/street.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/coffee.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/skyline.jpg');
  min-height:400px;
}

.pimg4{
  background-image:url('../img/street.jpg');
  min-height:100%;
}

.section{
  text-align:center;
}

.section-light{
  padding:20px 80px 20px 80px;
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
    padding:20px 80px 20px 80px;
    background-color:#282e34;
    color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

.ul1{
    margin-top: 0em;
    margin-bottom: 2em;
    padding:0px 80px 0px 80px;
    list-style-type: none;
/*    list-style-position: outside;*/
}

.ul2{
    margin-top: 0em;
    margin-bottom: 0em;
    padding:0px 80px 0px 80px;
    list-style-type: none;
/*    list-style-position: outside;*/
}

h2{
    margin-top: 0em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}


.fa {
    display: inline-block;
    background: #666;
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    margin: 10px;
}
.fa-facebook{
    background: #3b5998;
}
.fa-twitter{
    background: #1da1f2;
}
.fa-github{
    background: darkorange;
}
.fa-linkedin{
    background: #007bb5;
}
.fa-instagram{
    background: #c32aa3;
}

.fa-facebook:hover {
    transform: scale(1.2);
    color: #3b5998;
    background: white;
    transition: 0.1s linear;
}

.fa-twitter:hover {
    transform: scale(1.2);
    color: #1da1f2;
    background: white;
    transition: 0.1s linear;
}

.fa-github:hover {
    transform: scale(1.2);
    color: darkorange;
    background: white;
    transition: 0.1s linear;
}

.fa-linkedin:hover {
    transform: scale(1.2);
    color: #007bb5;
    background: white;
    transition: 0.1s linear;
}
.fa-instagram:hover {
    transform: scale(1.2);
    color: #c32aa3;
    background: white;
    transition: 0.1s linear;
}









